/* ------------------------------------------------------------------ */
/* Open Sans fonts and Icon fonts
 ------------------------------------------------------------------ */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(./fonts/OpenSans1.woff2) format('woff2'), url(./fonts/OpenSans1b.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(./fonts/OpenSans2.woff2) format('woff2'), url(./fonts/OpenSans2b.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(./fonts/OpenSans3.woff2) format('woff2'), url(./fonts/opensans3b.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(./fonts/OpenSans4.woff2) format('woff2'), url(./fonts/OpenSans4b.woff) format('woff');
}

