#windShield{

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background-color: white;
	opacity: 0.1;
}

.console{

  background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px,
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px,
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, 
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, 
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, 
    hsla(0,0%,100%,.5) 0  5px 6px 4px; 
  

  transition: color .2s;  

background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%); 

background-image: -moz-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -moz-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -moz-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%); 

background-image: -ms-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -ms-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -ms-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%); 

background-image: -o-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -o-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -o-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%); 
}

.news{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  text-shadow: 1px 1px 0px #Bff;
  cursor: pointer;
}

#topConsole{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
}

.topConsoleBottomPlate{
	position: absolute;
	top: -15px;
	height: inherit;
}

#topConsoleTitle{
	font-family: audioWideReg;
	position: absolute;

	text-align: center;
	color: #00fcff;
	font-weight: bold;
	font-size: 60px;

	text-shadow: 1px 0px 20px #67C8FF;

	background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   20%, hsla(0,0%,100%, .1) 10%);


	/*border: 1px solid #67C8FF;*/
}

#topConsoleBottomPlateLeft{
	left: 10px;
	-webkit-transform: skew(20deg); 
   -moz-transform: skew(20deg); 
   -o-transform: skew(20deg);
   transform: skew(20deg);   
}

#topConsoleBottomPlateRight{
	right: 13px;
	-webkit-transform: skew(-20deg); 
   -moz-transform: skew(-20deg); 
   -o-transform: skew(-20deg);
   transform: skew(-20deg);  
}

#controlPanel{
  position: absolute;
  left: 0px;
  bottom : 0px;
  width: 100%;
}

#bottomConsole{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#bottomConsoleControls{

  position: relative;

  text-align: center;
  width:34%;  
}


.button1{

  color: #BFf;
  text-shadow: 2px 1px 2px #67C8FF;

  border-color: #67C8FF;
  border: 2px solid;
  border-radius: 5px;

  padding: 5px;

  text-decoration: none;
  

  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   100%, hsla(0,0%,100%, .1) 100%);

  -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}


.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #c9c9c9;
  -webkit-box-shadow:inset 0px 1px 0px 0px #c9c9c9;
  box-shadow:inset 0px 1px 0px 0px #c9c9c9;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #c9c9c9) );
  background:-moz-linear-gradient( center top, #f5f5f5 5%, #c9c9c9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#c9c9c9');
  background-color:#f5f5f5;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #8c8c8c;
  display:inline-block;
  color:#25bbcc;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:35px;
  width:79px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #69f8ff;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c9c9c9), color-stop(1, #f5f5f5) );
  background:-moz-linear-gradient( center top, #c9c9c9 5%, #f5f5f5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#f5f5f5');
  background-color:#c9c9c9;
}.button:active {
  position:relative;
  top:2px;
}
.button3d {
  display: inline-block;
  text-decoration: none;
  color: blue;
  font-weight: bold;
  background-color: hsl(0,0%,90%);
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px,
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px,
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, 
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, 
    
    
  

  transition: color .2s;

  padding: 5px 5px;
  font-size: 14px;
  border: 1px solid grey;
  /*background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(73,132,180)),
    color-stop(1, rgb(97,155,203))
  );*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 6px 0px grey, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px grey, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px grey, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: rotateX(20deg);
}

.button3d:hover {
  /*background-image: linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
  background-image: -o-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);*/

 color : #Bff;
 text-shadow: 1px 1px 0px rgba(3,74,253,.5);
}

.button3d:active {
-webkit-box-shadow: 0px 2px 0px grey, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
-moz-box-shadow: 0px 2px 0px grey, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
box-shadow: 0px 2px 0px grey, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  /*background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);*/
  
  /*background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(88,154,204)),
    color-stop(1, rgb(90,150,199))
  );*/
    -webkit-transform: translate(0, 4px) rotateX(20deg);  
    -moz-transform: translate(0, 4px);  
    transform: translate(0, 4px);  
}

#speedControls{
  position: absolute;
  width: 34%;
}

