.hide {display: none;}
.fb-color {
	color: #4267b2;
}
.fb-drpdwn {
	border-radius: 5px;
	color: #4267b2;
	cursor: pointer;
	float: left;
	height: 28px;
	left: -200px;
	position: absolute;
	transition: 1s;
	width: 95px;
}
.fb-drpdwn.fb-div-show {
	left: 5px;
	transition: 1s;
}
.fb-friends-sel{
	background: #4267b2 none repeat scroll 0 0;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	margin-top: 15px;
	padding: 5px;
	width: 100px;
}
.fb-friends-sel.fb-inv {
	background: #fff none repeat scroll 0 0;
	color: #4267b2;
	width: 168px;
}
.fb-msg-login {
	width: 148px;
	left: 20px;
	position: absolute; 
}
