@charset "utf-8";
/* CSS Document */

body{
	background: transparent; 

    overflow:hidden;
	}

.container_400img {
	overflow:hidden;
	height: 3500px; 
	width:1000px; 
	z-index:9990;
	left:30%;
	/*top: 300px;*/
	/*float: right;*/
	}
#layer3 img{
	/*float:right;*/
	border: 0;
	top: 150px;
	/*left: 30%;*/
	width:90%;
}



