.track {behavior: url(js/PIE.htc);}
.thumb  {behavior: url(js/PIE.htc);}
.button {behavior: url(js/PIE.htc);}
.jcarousel-skin-tango .jcarousel-prev-horizontal {behavior: url(js/PIE.htc);}
.jcarousel-skin-tango .jcarousel-next-horizontal {behavior: url(js/PIE.htc);}
.snext {behavior: url(js/PIE.htc);}
.sprev {behavior: url(js/PIE.htc);}